In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

## JOIN

### INNER JOIN

In [10]:
run("SELECT productCode, productName, textDescription, t1.productline, t2.productline FROM products t1 INNER JOIN productlines t2 ON t1.productline = t2.productline")

#digunakan jika kolom yang dapat join memiliki nama kolom yang berbeda

,productCode,productName,textDescription,productline,productline
0,S10_1949,1952 Alpine Renault 1300,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
1,S10_4757,1972 Alfa Romeo GTA,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
2,S10_4962,1962 LanciaA Delta 16V,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
3,S12_1099,1968 Ford Mustang,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
4,S12_1108,2001 Ferrari Enzo,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
5,S12_3148,1969 Corvair Monza,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
6,S12_3380,1968 Dodge Charger,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
7,S12_3891,1969 Ford Falcon,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
8,S12_3990,1970 Plymouth Hemi Cuda,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
9,S12_4675,1969 Dodge Charger,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
10,S18_1129,1993 Mazda RX-7,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
11,S18_1589,1965 Aston Martin DB5,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
12,S18_1889,1948 Porsche 356-A Roadster,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
13,S18_1984,1995 Honda Civic,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
14,S18_2238,1998 Chrysler Plymouth Prowler,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
15,S18_2870,1999 Indy 500 Monte Carlo SS,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
16,S18_3232,1992 Ferrari 360 Spider red,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
17,S18_3233,1985 Toyota Supra,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
18,S18_3278,1969 Dodge Super Bee,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
19,S18_3482,1976 Ford Gran Torino,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
20,S18_3685,1948 Porsche Type 356 Roadster,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
21,S18_4027,1970 Triumph Spitfire,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
22,S18_4721,1957 Corvette Convertible,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
23,S18_4933,1957 Ford Thunderbird,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
24,S24_1046,1970 Chevy Chevelle SS 454,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
25,S24_1444,1970 Dodge Coronet,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
26,S24_1628,1966 Shelby Cobra 427 S/C,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
27,S24_2766,1949 Jaguar XK 120,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
28,S24_2840,1958 Chevy Corvette Limited Edition,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
29,S24_2887,1952 Citroen-15CV,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
...,...,...,...,...,...
80,S18_4600,1940s Ford truck,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
81,S24_2300,1962 Volkswagen Microbus,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
82,S32_1268,1980’s GM Manhattan Express,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
83,S32_2509,1954 Greyhound Scenicruiser,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
84,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
85,S50_1392,Diamond T620 Semi-Skirted Tanker,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
86,S18_1342,1937 Lincoln Berline,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
87,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
88,S18_1749,1917 Grand Touring Sedan,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
89,S18_2248,1911 Ford Town Car,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
90,S18_2325,1932 Model A Ford J-Coupe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
91,S18_2795,1928 Mercedes-Benz SSK,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
92,S18_2949,1913 Ford Model T Speedster,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
93,S18_2957,1934 Ford V8 Coupe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
94,S18_3136,18th Century Vintage Horse Carriage,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
95,S18_3140,1903 Ford Model A,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
96,S18_3320,1917 Maxwell Touring Car,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
97,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
98,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
99,S18_4522,1904 Buick Runabout,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
100,S18_4668,1939 Cadillac Limousine,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
101,S24_1937,1939 Chevrolet Deluxe Coupe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
102,S24_2022,1938 Cadillac V-16 Presidential Limousine,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
103,S24_3151,1912 Ford Model T Delivery Wagon,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
104,S24_3420,1937 Horch 930V Limousine,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
105,S24_3816,1940 Ford Delivery Sedan,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
106,S24_3969,1936 Mercedes Benz 500k Roadster,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
107,S24_4258,1936 Chrysler Airflow,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
108,S32_4289,1928 Ford Phaeton Deluxe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
109,S50_1341,1930 Buick Marquette Phaeton,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars

In [13]:
run("SELECT productCode, productName, textDescription, t1.productline, t2.productline FROM products t1 INNER JOIN productlines t2  USING (productline)")

,productCode,productName,textDescription,productline,productline
0,S10_1949,1952 Alpine Renault 1300,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
1,S10_4757,1972 Alfa Romeo GTA,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
2,S10_4962,1962 LanciaA Delta 16V,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
3,S12_1099,1968 Ford Mustang,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
4,S12_1108,2001 Ferrari Enzo,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
5,S12_3148,1969 Corvair Monza,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
6,S12_3380,1968 Dodge Charger,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
7,S12_3891,1969 Ford Falcon,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
8,S12_3990,1970 Plymouth Hemi Cuda,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
9,S12_4675,1969 Dodge Charger,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
10,S18_1129,1993 Mazda RX-7,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
11,S18_1589,1965 Aston Martin DB5,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
12,S18_1889,1948 Porsche 356-A Roadster,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
13,S18_1984,1995 Honda Civic,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
14,S18_2238,1998 Chrysler Plymouth Prowler,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
15,S18_2870,1999 Indy 500 Monte Carlo SS,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
16,S18_3232,1992 Ferrari 360 Spider red,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
17,S18_3233,1985 Toyota Supra,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
18,S18_3278,1969 Dodge Super Bee,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
19,S18_3482,1976 Ford Gran Torino,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
20,S18_3685,1948 Porsche Type 356 Roadster,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
21,S18_4027,1970 Triumph Spitfire,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
22,S18_4721,1957 Corvette Convertible,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
23,S18_4933,1957 Ford Thunderbird,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
24,S24_1046,1970 Chevy Chevelle SS 454,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
25,S24_1444,1970 Dodge Coronet,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
26,S24_1628,1966 Shelby Cobra 427 S/C,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
27,S24_2766,1949 Jaguar XK 120,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
28,S24_2840,1958 Chevy Corvette Limited Edition,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
29,S24_2887,1952 Citroen-15CV,Attention car enthusiasts: Make your wildest c...,Classic Cars,Classic Cars
...,...,...,...,...,...
80,S18_4600,1940s Ford truck,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
81,S24_2300,1962 Volkswagen Microbus,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
82,S32_1268,1980’s GM Manhattan Express,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
83,S32_2509,1954 Greyhound Scenicruiser,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
84,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
85,S50_1392,Diamond T620 Semi-Skirted Tanker,The Truck and Bus models are realistic replica...,Trucks and Buses,Trucks and Buses
86,S18_1342,1937 Lincoln Berline,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
87,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
88,S18_1749,1917 Grand Touring Sedan,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
89,S18_2248,1911 Ford Town Car,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
90,S18_2325,1932 Model A Ford J-Coupe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
91,S18_2795,1928 Mercedes-Benz SSK,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
92,S18_2949,1913 Ford Model T Speedster,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
93,S18_2957,1934 Ford V8 Coupe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
94,S18_3136,18th Century Vintage Horse Carriage,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
95,S18_3140,1903 Ford Model A,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
96,S18_3320,1917 Maxwell Touring Car,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
97,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
98,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
99,S18_4522,1904 Buick Runabout,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
100,S18_4668,1939 Cadillac Limousine,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
101,S24_1937,1939 Chevrolet Deluxe Coupe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
102,S24_2022,1938 Cadillac V-16 Presidential Limousine,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
103,S24_3151,1912 Ford Model T Delivery Wagon,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
104,S24_3420,1937 Horch 930V Limousine,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
105,S24_3816,1940 Ford Delivery Sedan,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
106,S24_3969,1936 Mercedes Benz 500k Roadster,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
107,S24_4258,1936 Chrysler Airflow,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
108,S32_4289,1928 Ford Phaeton Deluxe,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars
109,S50_1341,1930 Buick Marquette Phaeton,Our Vintage Car models realistically portray a...,Vintage Cars,Vintage Cars

In [18]:
run("""SELECT T1.orderNumber, status, SUM(quantityOrdered * priceEach) total FROM orders T1 INNER JOIN orderdetails T2
        ON T1.ordernumber = t2.ordernumber
        GROUP BY ordernumber""")

     orderNumber      status     total
0          10100     Shipped  10223.83
1          10101     Shipped  10549.01
2          10102     Shipped   5494.78
3          10103     Shipped  50218.95
4          10104     Shipped  40206.20
5          10105     Shipped  53959.21
6          10106     Shipped  52151.81
7          10107     Shipped  22292.62
8          10108     Shipped  51001.22
9          10109     Shipped  25833.14
10         10110     Shipped  48425.69
11         10111     Shipped  16537.85
12         10112     Shipped   7674.94
13         10113     Shipped  11044.30
14         10114     Shipped  33383.14
15         10115     Shipped  21665.98
16         10116     Shipped   1627.56
17         10117     Shipped  44380.15
18         10118     Shipped   3101.40
19         10119     Shipped  35826.33
20         10120     Shipped  45864.03
21         10121     Shipped  16700.47
22         10122     Shipped  50824.66
23         10123     Shipped  14571.44
24         10124     Shipped  32641.98
25         10125     Shipped   7565.08
26         10126     Shipped  57131.92
27         10127     Shipped  58841.35
28         10128     Shipped  13884.99
29         10129     Shipped  29429.14
..           ...         ...       ...
296        10396     Shipped  27695.54
297        10397     Shipped  12432.32
298        10398     Shipped  46656.94
299        10399     Shipped  30253.75
300        10400     Shipped  31755.34
301        10401     On Hold  43525.04
302        10402     Shipped  12190.85
303        10403     Shipped  37258.94
304        10404     Shipped  41426.81
305        10405     Shipped  35157.75
306        10406    Disputed  21638.62
307        10407     On Hold  52229.55
308        10408     Shipped    615.45
309        10409     Shipped   2326.18
310        10410     Shipped  36442.34
311        10411     Shipped  29070.38
312        10412     Shipped  46895.48
313        10413     Shipped  28500.78
314        10414     On Hold  50806.85
315        10415    Disputed  10945.26
316        10416     Shipped  35362.26
317        10417    Disputed  28574.90
318        10418     Shipped  23627.44
319        10419     Shipped  52420.07
320        10420  In Process  42251.51
321        10421  In Process   7639.10
322        10422  In Process   5849.44
323        10423  In Process   8597.73
324        10424  In Process  29310.30
325        10425  In Process  41623.44

[326 rows x 3 columns]

In [25]:
run("""SELECT orderNumber, productName, msrp, priceEach FROM products t1 INNER JOIN orderdetails t2
    ON t1.productcode = t2.productcode AND t1.msrp > t2.priceEach AND t1.productcode = 's10_1678'""")

    orderNumber                            productName  msrp  priceEach
0         10107  1969 Harley Davidson Ultimate Chopper  95.7      81.35
1         10121  1969 Harley Davidson Ultimate Chopper  95.7      86.13
2         10134  1969 Harley Davidson Ultimate Chopper  95.7      90.92
3         10145  1969 Harley Davidson Ultimate Chopper  95.7      76.56
4         10159  1969 Harley Davidson Ultimate Chopper  95.7      81.35
5         10168  1969 Harley Davidson Ultimate Chopper  95.7      94.74
6         10180  1969 Harley Davidson Ultimate Chopper  95.7      76.56
7         10201  1969 Harley Davidson Ultimate Chopper  95.7      82.30
8         10211  1969 Harley Davidson Ultimate Chopper  95.7      90.92
9         10223  1969 Harley Davidson Ultimate Chopper  95.7      80.39
10        10237  1969 Harley Davidson Ultimate Chopper  95.7      91.87
11        10251  1969 Harley Davidson Ultimate Chopper  95.7      93.79
12        10263  1969 Harley Davidson Ultimate Chopper  95.7      89.00
13        10275  1969 Harley Davidson Ultimate Chopper  95.7      81.35
14        10299  1969 Harley Davidson Ultimate Chopper  95.7      76.56
15        10309  1969 Harley Davidson Ultimate Chopper  95.7      94.74
16        10318  1969 Harley Davidson Ultimate Chopper  95.7      84.22
17        10329  1969 Harley Davidson Ultimate Chopper  95.7      80.39
18        10341  1969 Harley Davidson Ultimate Chopper  95.7      84.22
19        10354  1969 Harley Davidson Ultimate Chopper  95.7      84.22
20        10361  1969 Harley Davidson Ultimate Chopper  95.7      92.83
21        10375  1969 Harley Davidson Ultimate Chopper  95.7      76.56
22        10388  1969 Harley Davidson Ultimate Chopper  95.7      80.39
23        10399  1969 Harley Davidson Ultimate Chopper  95.7      77.52
24        10403  1969 Harley Davidson Ultimate Chopper  95.7      85.17
25        10417  1969 Harley Davidson Ultimate Chopper  95.7      79.43

### LEFT JOIN

In [30]:
#Left Join, based on tabel 1 (misal ada tabel 1 dan 2)

run(""" SELECT t1.customerNumber, customerName, ordernumber, status 
    FROM customers t1 LEFT JOIN orders t2 
    ON t1.customernumber = t2.customernumber """)

     customerNumber                    customerName  ordernumber      status
0               103               Atelier graphique      10123.0     Shipped
1               103               Atelier graphique      10298.0     Shipped
2               103               Atelier graphique      10345.0     Shipped
3               112              Signal Gift Stores      10124.0     Shipped
4               112              Signal Gift Stores      10278.0     Shipped
5               112              Signal Gift Stores      10346.0     Shipped
6               114      Australian Collectors, Co.      10120.0     Shipped
7               114      Australian Collectors, Co.      10125.0     Shipped
8               114      Australian Collectors, Co.      10223.0     Shipped
9               114      Australian Collectors, Co.      10342.0     Shipped
10              114      Australian Collectors, Co.      10347.0     Shipped
11              119               La Rochelle Gifts      10275.0     Shipped
12              119               La Rochelle Gifts      10315.0     Shipped
13              119               La Rochelle Gifts      10375.0     Shipped
14              119               La Rochelle Gifts      10425.0  In Process
15              121              Baane Mini Imports      10103.0     Shipped
16              121              Baane Mini Imports      10158.0     Shipped
17              121              Baane Mini Imports      10309.0     Shipped
18              121              Baane Mini Imports      10325.0     Shipped
19              124    Mini Gifts Distributors Ltd.      10113.0     Shipped
20              124    Mini Gifts Distributors Ltd.      10135.0     Shipped
21              124    Mini Gifts Distributors Ltd.      10142.0     Shipped
22              124    Mini Gifts Distributors Ltd.      10182.0     Shipped
23              124    Mini Gifts Distributors Ltd.      10229.0     Shipped
24              124    Mini Gifts Distributors Ltd.      10271.0     Shipped
25              124    Mini Gifts Distributors Ltd.      10282.0     Shipped
26              124    Mini Gifts Distributors Ltd.      10312.0     Shipped
27              124    Mini Gifts Distributors Ltd.      10335.0     Shipped
28              124    Mini Gifts Distributors Ltd.      10357.0     Shipped
29              124    Mini Gifts Distributors Ltd.      10368.0     Shipped
..              ...                             ...          ...         ...
320             459                Warburg Exchange          NaN        None
321             462                FunGiftIdeas.com      10166.0     Shipped
322             462                FunGiftIdeas.com      10321.0     Shipped
323             462                FunGiftIdeas.com      10388.0     Shipped
324             465             Anton Designs, Ltd.          NaN        None
325             471    Australian Collectables, Ltd      10193.0     Shipped
326             471    Australian Collectables, Ltd      10265.0     Shipped
327             471    Australian Collectables, Ltd      10415.0    Disputed
328             473              Frau da Collezione      10157.0     Shipped
329             473              Frau da Collezione      10218.0     Shipped
330             475     West Coast Collectables Co.      10199.0     Shipped
331             475     West Coast Collectables Co.      10215.0     Shipped
332             477             Mit Vergnügen & Co.          NaN        None
333             480       Kremlin Collectables, Co.          NaN        None
334             481              Raanan Stores, Inc          NaN        None
335             484      Iberia Gift Imports, Corp.      10184.0     Shipped
336             484      Iberia Gift Imports, Corp.      10303.0     Shipped
337             486    Motor Mint Distributors Inc.      10109.0     Shipped
338             486    Motor Mint Distributors Inc.      10236.0     Shipped
339             486    Motor Mint Distributors Inc.      10331.0     Shipped
340             487        Signal Collectibles Ltd.      10149.0     Shipped
341             487        Signal Collectibles Ltd.      10219.0     Shipped
342             489  Double Decker Gift Stores, Ltd      10186.0     Shipped
343             489  Double Decker Gift Stores, Ltd      10213.0     Shipped
344             495            Diecast Collectables      10207.0     Shipped
345             495            Diecast Collectables      10243.0     Shipped
346             496               Kelly's Gift Shop      10138.0     Shipped
347             496               Kelly's Gift Shop      10179.0   Cancelled
348             496               Kelly's Gift Shop      10360.0     Shipped
349             496               Kelly's Gift Shop      10399.0     Shipped

[350 rows x 4 columns]

In [31]:
run(""" SELECT t1.customerNumber, customerName, ordernumber, status 
    FROM customers t1 LEFT JOIN orders t2 
    ON t1.customernumber = t2.customernumber
    WHERE ordernumber is NULL""")

    customerNumber                    customerName ordernumber status
0              125              Havel & Zbyszek Co        None   None
1              168          American Souvenirs Inc        None   None
2              169               Porto Imports Co.        None   None
3              206      Asian Shopping Network, Co        None   None
4              223                 Natürlich Autos        None   None
5              237                   ANG Resellers        None   None
6              247        Messner Shopping Network        None   None
7              273               Franken Gifts, Co        None   None
8              293               BG&E Collectables        None   None
9              303                Schuyler Imports        None   None
10             307                Der Hund Imports        None   None
11             335       Cramer Spezialitäten, Ltd        None   None
12             348           Asian Treasures, Inc.        None   None
13             356            SAR Distributors, Co        None   None
14             361                 Kommission Auto        None   None
15             369          Lisboa Souveniers, Inc        None   None
16             376           Precious Collectables        None   None
17             409  Stuttgart Collectable Exchange        None   None
18             443        Feuer Online Stores, Inc        None   None
19             459                Warburg Exchange        None   None
20             465             Anton Designs, Ltd.        None   None
21             477             Mit Vergnügen & Co.        None   None
22             480       Kremlin Collectables, Co.        None   None
23             481              Raanan Stores, Inc        None   None

In [32]:
run("""
SELECT 
    o.orderNumber, 
    customerNumber, 
    productCode
FROM
    orders o
        LEFT JOIN
    orderDetails USING (orderNumber)
WHERE
    orderNumber = 10123
""")

   orderNumber  customerNumber productCode
0        10123             103    S18_1589
1        10123             103    S18_2870
2        10123             103    S18_3685
3        10123             103    S24_1628

In [44]:
run("""
SELECT 
    o.orderNumber, 
    customerNumber, 
    productCode
FROM
    orders o
        LEFT JOIN
    orderDetails d ON o.orderNumber = d.orderNumber
        AND o.orderNumber = '10123'
""")

     orderNumber  customerNumber productCode
0          10123             103    S18_1589
1          10123             103    S18_2870
2          10123             103    S18_3685
3          10123             103    S24_1628
4          10298             103        None
5          10345             103        None
6          10124             112        None
7          10278             112        None
8          10346             112        None
9          10120             114        None
10         10125             114        None
11         10223             114        None
12         10342             114        None
13         10347             114        None
14         10275             119        None
15         10315             119        None
16         10375             119        None
17         10425             119        None
18         10103             121        None
19         10158             121        None
20         10309             121        None
21         10325             121        None
22         10113             124        None
23         10135             124        None
24         10142             124        None
25         10182             124        None
26         10229             124        None
27         10271             124        None
28         10282             124        None
29         10312             124        None
..           ...             ...         ...
299        10242             456        None
300        10319             456        None
301        10126             458        None
302        10214             458        None
303        10348             458        None
304        10166             462        None
305        10321             462        None
306        10388             462        None
307        10193             471        None
308        10265             471        None
309        10415             471        None
310        10157             473        None
311        10218             473        None
312        10199             475        None
313        10215             475        None
314        10184             484        None
315        10303             484        None
316        10109             486        None
317        10236             486        None
318        10331             486        None
319        10149             487        None
320        10219             487        None
321        10186             489        None
322        10213             489        None
323        10207             495        None
324        10243             495        None
325        10138             496        None
326        10179             496        None
327        10360             496        None
328        10399             496        None

[329 rows x 3 columns]

### RIGHT JOIN

### SELF JOIN

In [41]:
run(""" SELECT 
            CONCAT(m.lastname,', ', m.firstname) AS 'Manager',
            CONCAT(e.lastname,', ', e.firstname) AS 'Direct Report'
        FROM
            employees e
                INNER JOIN
            employees m
                ON m.employeenumber = e.reportsto
       """)

               Manager       Direct Report
0        Murphy, Diane     Patterson, Mary
1        Murphy, Diane      Firrelli, Jeff
2      Patterson, Mary  Patterson, William
3      Patterson, Mary      Bondur, Gerard
4      Patterson, Mary        Bow, Anthony
5         Bow, Anthony    Jennings, Leslie
6         Bow, Anthony    Thompson, Leslie
7         Bow, Anthony     Firrelli, Julie
8         Bow, Anthony    Patterson, Steve
9         Bow, Anthony     Tseng, Foon Yue
10        Bow, Anthony      Vanauf, George
11      Bondur, Gerard        Bondur, Loui
12      Bondur, Gerard   Hernandez, Gerard
13      Bondur, Gerard    Castillo, Pamela
14      Bondur, Gerard         Bott, Larry
15      Bondur, Gerard        Jones, Barry
16  Patterson, William        Fixter, Andy
17  Patterson, William        Marsh, Peter
18  Patterson, William           King, Tom
19     Patterson, Mary         Nishi, Mami
20         Nishi, Mami       Kato, Yoshimi
21      Bondur, Gerard      Gerard, Martin