In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

## One to many relationship
### 1. Report the account representative for each customer

In [2]:
run("""SELECT
    c.customerNumber, c.customerName, c.salesrepemployeenumber,
    e.employeenumber, CONCAT(e.lastname,', ', e.firstname) AS 'employeeName'    
    FROM
    customers c LEFT JOIN employees e ON
    c.salesrepemployeenumber = e.employeenumber
""")

,customerNumber,customerName,salesrepemployeenumber,employeenumber,employeeName
0,103,Atelier graphique,1370.0,1370.0,"Hernandez, Gerard"
1,112,Signal Gift Stores,1166.0,1166.0,"Thompson, Leslie"
2,114,"Australian Collectors, Co.",1611.0,1611.0,"Fixter, Andy"
3,119,La Rochelle Gifts,1370.0,1370.0,"Hernandez, Gerard"
4,121,Baane Mini Imports,1504.0,1504.0,"Jones, Barry"
5,124,Mini Gifts Distributors Ltd.,1165.0,1165.0,"Jennings, Leslie"
6,125,Havel & Zbyszek Co,NaN,NaN,None
7,128,"Blauer See Auto, Co.",1504.0,1504.0,"Jones, Barry"
8,129,Mini Wheels Co.,1165.0,1165.0,"Jennings, Leslie"
9,131,Land of Toys Inc.,1323.0,1323.0,"Vanauf, George"
10,141,Euro+ Shopping Channel,1370.0,1370.0,"Hernandez, Gerard"
11,144,"Volvo Model Replicas, Co",1504.0,1504.0,"Jones, Barry"
12,145,Danish Wholesale Imports,1401.0,1401.0,"Castillo, Pamela"
13,146,"Saveley & Henriot, Co.",1337.0,1337.0,"Bondur, Loui"
14,148,"Dragon Souveniers, Ltd.",1621.0,1621.0,"Nishi, Mami"
15,151,Muscle Machine Inc,1286.0,1286.0,"Tseng, Foon Yue"
16,157,Diecast Classics Inc.,1216.0,1216.0,"Patterson, Steve"
17,161,Technics Stores Inc.,1165.0,1165.0,"Jennings, Leslie"
18,166,Handji Gifts& Co,1612.0,1612.0,"Marsh, Peter"
19,167,Herkku Gifts,1504.0,1504.0,"Jones, Barry"
20,168,American Souvenirs Inc,1286.0,1286.0,"Tseng, Foon Yue"
21,169,Porto Imports Co.,NaN,NaN,None
22,171,Daedalus Designs Imports,1370.0,1370.0,"Hernandez, Gerard"
23,172,"La Corne D'abondance, Co.",1337.0,1337.0,"Bondur, Loui"
24,173,Cambridge Collectables Co.,1188.0,1188.0,"Firrelli, Julie"
25,175,Gift Depot Inc.,1323.0,1323.0,"Vanauf, George"
26,177,Osaka Souveniers Co.,1621.0,1621.0,"Nishi, Mami"
27,181,Vitachrome Inc.,1286.0,1286.0,"Tseng, Foon Yue"
28,186,"Toys of Finland, Co.",1501.0,1501.0,"Bott, Larry"
29,187,"AV Stores, Co.",1501.0,1501.0,"Bott, Larry"
...,...,...,...,...,...
92,386,L'ordine Souveniers,1401.0,1401.0,"Castillo, Pamela"
93,398,"Tokyo Collectables, Ltd",1621.0,1621.0,"Nishi, Mami"
94,406,Auto Canal+ Petit,1337.0,1337.0,"Bondur, Loui"
95,409,Stuttgart Collectable Exchange,NaN,NaN,None
96,412,"Extreme Desk Decorations, Ltd",1612.0,1612.0,"Marsh, Peter"
97,415,"Bavarian Collectables Imports, Co.",1504.0,1504.0,"Jones, Barry"
98,424,Classic Legends Inc.,1286.0,1286.0,"Tseng, Foon Yue"
99,443,"Feuer Online Stores, Inc",NaN,NaN,None
100,447,Gift Ideas Corp.,1323.0,1323.0,"Vanauf, George"
101,448,Scandinavian Gift Ideas,1504.0,1504.0,"Jones, Barry"
102,450,The Sharp Gifts Warehouse,1165.0,1165.0,"Jennings, Leslie"
103,452,Mini Auto Werke,1401.0,1401.0,"Castillo, Pamela"
104,455,Super Scale Inc.,1286.0,1286.0,"Tseng, Foon Yue"
105,456,Microscale Inc.,1286.0,1286.0,"Tseng, Foon Yue"
106,458,"Corrida Auto Replicas, Ltd",1702.0,1702.0,"Gerard, Martin"
107,459,Warburg Exchange,NaN,NaN,None
108,462,FunGiftIdeas.com,1216.0,1216.0,"Patterson, Steve"
109,465,"Anton Designs, Ltd.",NaN,NaN,None
110,471,"Australian Collectables, Ltd",1611.0,1611.0,"Fixter, Andy"
111,473,Frau da Collezione,1401.0,1401.0,"Castillo, Pamela"
112,475,West Coast Collectables Co.,1166.0,1166.0,"Thompson, Leslie"
113,477,Mit Vergnügen & Co.,NaN,NaN,None
114,480,"Kremlin Collectables, Co.",NaN,NaN,None
115,481,"Raanan Stores, Inc",NaN,NaN,None
116,484,"Iberia Gift Imports, Corp.",1702.0,1702.0,"Gerard, Martin"
117,486,Motor Mint Distributors Inc.,1323.0,1323.0,"Vanauf, George"
118,487,Signal Collectibles Ltd.,1165.0,1165.0,"Jennings, Leslie"
119,489,"Double Decker Gift Stores, Ltd",1501.0,1501.0,"Bott, Larry"
120,495,Diecast Collectables,1188.0,1188.0,"Firrelli, Julie"
121,496,Kelly's Gift Shop,1612.0,1612.0,"Marsh, Peter"

In [3]:
run("""SELECT
    c.customerNumber, c.customerName, c.salesrepemployeenumber,
    e.employeenumber, CONCAT(e.lastname,', ', e.firstname) AS 'employeeName'    
    FROM
    customers c LEFT JOIN employees e ON
    c.salesrepemployeenumber = e.employeenumber
    WHERE c.salesrepemployeenumber IS NOT NULL""")

,customerNumber,customerName,salesrepemployeenumber,employeenumber,employeeName
0,103,Atelier graphique,1370,1370,"Hernandez, Gerard"
1,112,Signal Gift Stores,1166,1166,"Thompson, Leslie"
2,114,"Australian Collectors, Co.",1611,1611,"Fixter, Andy"
3,119,La Rochelle Gifts,1370,1370,"Hernandez, Gerard"
4,121,Baane Mini Imports,1504,1504,"Jones, Barry"
5,124,Mini Gifts Distributors Ltd.,1165,1165,"Jennings, Leslie"
6,128,"Blauer See Auto, Co.",1504,1504,"Jones, Barry"
7,129,Mini Wheels Co.,1165,1165,"Jennings, Leslie"
8,131,Land of Toys Inc.,1323,1323,"Vanauf, George"
9,141,Euro+ Shopping Channel,1370,1370,"Hernandez, Gerard"
10,144,"Volvo Model Replicas, Co",1504,1504,"Jones, Barry"
11,145,Danish Wholesale Imports,1401,1401,"Castillo, Pamela"
12,146,"Saveley & Henriot, Co.",1337,1337,"Bondur, Loui"
13,148,"Dragon Souveniers, Ltd.",1621,1621,"Nishi, Mami"
14,151,Muscle Machine Inc,1286,1286,"Tseng, Foon Yue"
15,157,Diecast Classics Inc.,1216,1216,"Patterson, Steve"
16,161,Technics Stores Inc.,1165,1165,"Jennings, Leslie"
17,166,Handji Gifts& Co,1612,1612,"Marsh, Peter"
18,167,Herkku Gifts,1504,1504,"Jones, Barry"
19,168,American Souvenirs Inc,1286,1286,"Tseng, Foon Yue"
20,171,Daedalus Designs Imports,1370,1370,"Hernandez, Gerard"
21,172,"La Corne D'abondance, Co.",1337,1337,"Bondur, Loui"
22,173,Cambridge Collectables Co.,1188,1188,"Firrelli, Julie"
23,175,Gift Depot Inc.,1323,1323,"Vanauf, George"
24,177,Osaka Souveniers Co.,1621,1621,"Nishi, Mami"
25,181,Vitachrome Inc.,1286,1286,"Tseng, Foon Yue"
26,186,"Toys of Finland, Co.",1501,1501,"Bott, Larry"
27,187,"AV Stores, Co.",1501,1501,"Bott, Larry"
28,189,"Clover Collections, Co.",1504,1504,"Jones, Barry"
29,198,Auto-Moto Classics Inc.,1216,1216,"Patterson, Steve"
...,...,...,...,...,...
70,362,Gifts4AllAges.com,1216,1216,"Patterson, Steve"
71,363,Online Diecast Creations Co.,1216,1216,"Patterson, Steve"
72,376,Precious Collectables,1702,1702,"Gerard, Martin"
73,379,Collectables For Less Inc.,1188,1188,"Firrelli, Julie"
74,381,Royale Belge,1401,1401,"Castillo, Pamela"
75,382,Salzburg Collectables,1401,1401,"Castillo, Pamela"
76,385,Cruz & Sons Co.,1621,1621,"Nishi, Mami"
77,386,L'ordine Souveniers,1401,1401,"Castillo, Pamela"
78,398,"Tokyo Collectables, Ltd",1621,1621,"Nishi, Mami"
79,406,Auto Canal+ Petit,1337,1337,"Bondur, Loui"
80,412,"Extreme Desk Decorations, Ltd",1612,1612,"Marsh, Peter"
81,415,"Bavarian Collectables Imports, Co.",1504,1504,"Jones, Barry"
82,424,Classic Legends Inc.,1286,1286,"Tseng, Foon Yue"
83,447,Gift Ideas Corp.,1323,1323,"Vanauf, George"
84,448,Scandinavian Gift Ideas,1504,1504,"Jones, Barry"
85,450,The Sharp Gifts Warehouse,1165,1165,"Jennings, Leslie"
86,452,Mini Auto Werke,1401,1401,"Castillo, Pamela"
87,455,Super Scale Inc.,1286,1286,"Tseng, Foon Yue"
88,456,Microscale Inc.,1286,1286,"Tseng, Foon Yue"
89,458,"Corrida Auto Replicas, Ltd",1702,1702,"Gerard, Martin"
90,462,FunGiftIdeas.com,1216,1216,"Patterson, Steve"
91,471,"Australian Collectables, Ltd",1611,1611,"Fixter, Andy"
92,473,Frau da Collezione,1401,1401,"Castillo, Pamela"
93,475,West Coast Collectables Co.,1166,1166,"Thompson, Leslie"
94,484,"Iberia Gift Imports, Corp.",1702,1702,"Gerard, Martin"
95,486,Motor Mint Distributors Inc.,1323,1323,"Vanauf, George"
96,487,Signal Collectibles Ltd.,1165,1165,"Jennings, Leslie"
97,489,"Double Decker Gift Stores, Ltd",1501,1501,"Bott, Larry"
98,495,Diecast Collectables,1188,1188,"Firrelli, Julie"
99,496,Kelly's Gift Shop,1612,1612,"Marsh, Peter"

### 2. Report total payments for Atelier graphique.

In [4]:
run(""" SELECT
    c.customerName,
    SUM(p.amount) AS 'jumlah'
    FROM
    customers c INNER JOIN payments p ON c.customernumber = p.customernumber
    WHERE c.customerName = 'atelier graphique'
    
""")

        customerName    jumlah
0  Atelier graphique  22314.36

### 3. Report the total payments by date

In [5]:
run(""" SELECT
    m.paymentDate,
    SUM(p.amount) AS 'jumlah'
    FROM
    payments p INNER JOIN payments m ON m.paymentdate = p.paymentdate
    GROUP BY m.paymentDate
""")

    paymentDate     jumlah
0    2003-01-16   10223.83
1    2003-01-28   10549.01
2    2003-01-30    5494.78
3    2003-02-16   50218.95
4    2003-02-20   53959.21
5    2003-02-25   40206.20
6    2003-03-02   52151.81
7    2003-03-09   51001.22
8    2003-03-12   22292.62
9    2003-03-20   25833.14
10   2003-03-27   48425.69
11   2003-04-09   48425.58
12   2003-04-11   11044.30
13   2003-04-16   21665.98
14   2003-04-19    1627.56
15   2003-04-20   33383.14
16   2003-04-22   44380.15
17   2003-05-09    3101.40
18   2003-05-12   35826.33
19   2003-05-20   45864.03
20   2003-05-21   16700.47
21   2003-05-25   50824.66
22   2003-05-31    7565.08
23   2003-06-05   14571.44
24   2003-06-06   32641.98
25   2003-06-13   57131.92
26   2003-06-18   58841.35
27   2003-06-25   17032.29
28   2003-07-05    2880.00
29   2003-07-06    6036.96
..          ...        ...
202  2005-02-02   12692.19
203  2005-02-03   14379.90
204  2005-02-06   39580.60
205  2005-02-09   27083.78
206  2005-02-12   28322.83
207  2005-02-14   33967.73
208  2005-02-15   46770.52
209  2005-02-22   49523.67
210  2005-03-01   21432.31
211  2005-03-02    3452.75
212  2005-03-05  101244.59
213  2005-03-10   23602.90
214  2005-03-15   46781.66
215  2005-03-18  120166.58
216  2005-03-25   65071.26
217  2005-03-27    3516.04
218  2005-04-15   30293.77
219  2005-04-16   83598.04
220  2005-04-18   27966.54
221  2005-04-23   12190.85
222  2005-04-30   29848.52
223  2005-05-03   87929.74
224  2005-05-17   17928.09
225  2005-05-18     615.45
226  2005-05-19  150792.52
227  2005-05-20   29070.38
228  2005-05-23   75020.13
229  2005-05-25   30253.75
230  2005-06-03   12432.32
231  2005-06-09   46656.94

[232 rows x 2 columns]

### 4. Report the products that have not been sold

In [7]:
run("""SELECT
            d.productCode, 
            p.productName,
            o.orderNumber,
            o.status         
        FROM
            products p
        INNER JOIN orderdetails d ON p.productcode = d.productcode
        INNER JOIN orders o ON o.ordernumber = d.ordernumber
        WHERE o.status <> 'Shipped'
        """)

,productCode,productName,orderNumber,status
0,S10_4962,1962 LanciaA Delta 16V,10164,Resolved
1,S12_1666,1958 Setra Bus,10164,Resolved
2,S18_1097,1940 Ford Pickup Truck,10164,Resolved
3,S18_4600,1940s Ford truck,10164,Resolved
4,S18_4668,1939 Cadillac Limousine,10164,Resolved
5,S32_1268,1980’s GM Manhattan Express,10164,Resolved
6,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,10164,Resolved
7,S700_2824,1982 Camaro Z28,10164,Resolved
8,S10_4757,1972 Alfa Romeo GTA,10167,Cancelled
9,S18_1662,1980s Black Hawk Helicopter,10167,Cancelled
10,S18_3029,1999 Yamaha Speed Boat,10167,Cancelled
11,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,10167,Cancelled
12,S24_2011,18th century schooner,10167,Cancelled
13,S24_2841,1900s Vintage Bi-Plane,10167,Cancelled
14,S24_3151,1912 Ford Model T Delivery Wagon,10167,Cancelled
15,S24_3420,1937 Horch 930V Limousine,10167,Cancelled
16,S24_3816,1940 Ford Delivery Sedan,10167,Cancelled
17,S700_1138,The Schooner Bluenose,10167,Cancelled
18,S700_2047,HMS Bounty,10167,Cancelled
19,S700_2610,The USS Constitution Ship,10167,Cancelled
20,S700_3505,The Titanic,10167,Cancelled
21,S700_3962,The Queen Mary,10167,Cancelled
22,S72_1253,Boeing X-32A JSF,10167,Cancelled
23,S72_3212,Pont Yacht,10167,Cancelled
24,S18_2581,P-51-D Mustang,10179,Cancelled
25,S24_1785,1928 British Royal Navy Airplane,10179,Cancelled
26,S24_4278,1900s Vintage Tri-Plane,10179,Cancelled
27,S32_1374,1997 BMW F650 ST,10179,Cancelled
28,S32_4289,1928 Ford Phaeton Deluxe,10179,Cancelled
29,S50_1341,1930 Buick Marquette Phaeton,10179,Cancelled
...,...,...,...,...
195,S24_3432,2002 Chevy Corvette,10420,In Process
196,S24_3969,1936 Mercedes Benz 500k Roadster,10420,In Process
197,S18_2795,1928 Mercedes-Benz SSK,10421,In Process
198,S24_2022,1938 Cadillac V-16 Presidential Limousine,10421,In Process
199,S18_1342,1937 Lincoln Berline,10422,In Process
200,S18_1367,1936 Mercedes-Benz 500K Special Roadster,10422,In Process
201,S18_2949,1913 Ford Model T Speedster,10423,In Process
202,S18_2957,1934 Ford V8 Coupe,10423,In Process
203,S18_3136,18th Century Vintage Horse Carriage,10423,In Process
204,S18_3320,1917 Maxwell Touring Car,10423,In Process
205,S24_4258,1936 Chrysler Airflow,10423,In Process
206,S10_1949,1952 Alpine Renault 1300,10424,In Process
207,S12_1666,1958 Setra Bus,10424,In Process
208,S18_1097,1940 Ford Pickup Truck,10424,In Process
209,S18_4668,1939 Cadillac Limousine,10424,In Process
210,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,10424,In Process
211,S700_2824,1982 Camaro Z28,10424,In Process
212,S10_4962,1962 LanciaA Delta 16V,10425,In Process
213,S12_4473,1957 Chevy Pickup,10425,In Process
214,S18_2238,1998 Chrysler Plymouth Prowler,10425,In Process
215,S18_2319,1964 Mercedes Tour Bus,10425,In Process
216,S18_2432,1926 Ford Fire Engine,10425,In Process
217,S18_3232,1992 Ferrari 360 Spider red,10425,In Process
218,S18_4600,1940s Ford truck,10425,In Process
219,S24_1444,1970 Dodge Coronet,10425,In Process
220,S24_2300,1962 Volkswagen Microbus,10425,In Process
221,S24_2840,1958 Chevy Corvette Limited Edition,10425,In Process
222,S32_1268,1980’s GM Manhattan Express,10425,In Process
223,S32_2509,1954 Greyhound Scenicruiser,10425,In Process
224,S50_1392,Diamond T620 Semi-Skirted Tanker,10425,In Process

### 5. List the amount paid by each customer.

In [9]:
run("""SELECT
            c.customerName,
            SUM(p.amount) AS totalAmount
        FROM
            customers c
        INNER JOIN payments p ON c.customernumber = p.customernumber
        GROUP BY c.customername
""")

                          customerName  totalAmount
0                         Alpha Cognac     60483.36
1                   Amica Models & Co.     82223.23
2              Anna's Decorations, Ltd    137034.22
3                    Atelier graphique     22314.36
4         Australian Collectables, Ltd     44920.76
5           Australian Collectors, Co.    180585.07
6          Australian Gift Network, Co     55190.16
7                 Auto Associés & Cie.     58876.41
8                    Auto Canal+ Petit     86436.97
9              Auto-Moto Classics Inc.     21554.26
10                      AV Stores, Co.    148410.09
11                  Baane Mini Imports    104224.79
12  Bavarian Collectables Imports, Co.     31310.09
13                Blauer See Auto, Co.     75937.76
14                   Boards & Toys Co.      7918.60
15                         CAF Imports     46751.14
16          Cambridge Collectables Co.     32198.69
17      Canadian Gift Exchange Network     70122.19
18             Classic Gift Ideas, Inc     57939.34
19                Classic Legends Inc.     69214.33
20             Clover Collections, Co.     49898.27
21        Collectable Mini Designs Co.     80375.24
22          Collectables For Less Inc.     73533.65
23            Corporate Gift Ideas Co.    132340.78
24          Corrida Auto Replicas, Ltd    112440.09
25                     Cruz & Sons Co.     87468.30
26            Daedalus Designs Imports     61781.70
27            Danish Wholesale Imports    107446.50
28               Diecast Classics Inc.     98509.25
29                Diecast Collectables     65541.74
..                                 ...          ...
68            Online Mini Collectables     55577.26
69                Osaka Souveniers Co.     62361.22
70             Oulu Toy Supplies, Inc.     95706.15
71                          Petit Auto     62253.85
72        Québec Home Shopping Network     68977.67
73                  Reims Collectables    126983.19
74                       Rovelli Gifts    127529.69
75   Royal Canadian Collectables, Ltd.     66812.00
76                        Royale Belge     29217.18
77               Salzburg Collectables     85060.00
78              Saveley & Henriot, Co.    130305.35
79             Scandinavian Gift Ideas     76776.44
80            Signal Collectibles Ltd.     42570.37
81                  Signal Gift Stores     80180.98
82           Souveniers And Things Co.     91655.61
83            Stylish Desk Decors, Co.     80556.73
84                 Suominen Souveniers    103896.74
85                    Super Scale Inc.     70378.65
86                Technics Stores Inc.    104545.22
87             Tekni Collectables Inc.     38281.51
88           The Sharp Gifts Warehouse     59551.38
89             Tokyo Collectables, Ltd    105548.73
90             Toms Spezialitäten, Ltd     89223.14
91                Toys of Finland, Co.     95546.46
92                   Toys4GrownUps.com     93803.30
93               UK Collectables, Ltd.     61167.18
94                     Vida Sport, Ltd    108777.92
95                     Vitachrome Inc.     72497.64
96            Volvo Model Replicas, Co     43680.65
97         West Coast Collectables Co.     43748.72

[98 rows x 2 columns]

### 6. How many orders have been placed by Herkku Gifts?

In [13]:
run("""SELECT
            c.customerName,
            SUM(d.quantityOrdered) AS totalQuantity
        FROM
            customers c
        INNER JOIN orders o ON c.customerNumber = o.customerNumber
        INNER JOIN orderdetails d ON o.orderNumber = d.orderNumber
        WHERE c.customerName = 'Herkku Gifts'
        
""")

   customerName  totalQuantity
0  Herkku Gifts          973.0

### 7. Who are the employees in Boston?

In [17]:
run("""SELECT
            CONCAT(e.lastName,', ',e.firstName) AS employeeName,
            e.employeeNumber,
            c.city
        FROM
            employees e
        INNER JOIN customers c ON c.salesRepEmployeeNumber = e.employeeNumber
        WHERE c.city = 'Boston'
""")

       employeeName  employeeNumber    city
0  Patterson, Steve            1216  Boston
1   Firrelli, Julie            1188  Boston

### 8. Report those payments greater than $100,000. Sort the report so the customer who made the highest payment appears first.

In [23]:
run("""SELECT
            c.customerName,
            SUM(p.amount) AS totalPayment
        FROM
            payments p
        INNER JOIN customers c ON c.customerNumber = p.customerNumber
        GROUP BY c.customerName
        ORDER BY totalPayment DESC
""")

                          customerName  totalPayment
0               Euro+ Shopping Channel     715738.98
1         Mini Gifts Distributors Ltd.     584188.24
2           Australian Collectors, Co.     180585.07
3                   Muscle Machine Inc     177913.95
4              Dragon Souveniers, Ltd.     156251.03
5           Down Under Souveniers, Inc     154622.08
6                       AV Stores, Co.     148410.09
7              Anna's Decorations, Ltd     137034.22
8             Corporate Gift Ideas Co.     132340.78
9               Saveley & Henriot, Co.     130305.35
10                       Rovelli Gifts     127529.69
11                  Reims Collectables     126983.19
12                   La Rochelle Gifts     116949.68
13        Online Diecast Creations Co.     116449.29
14                   Kelly's Gift Shop     114497.19
15          Corrida Auto Replicas, Ltd     112440.09
16                     Vida Sport, Ltd     108777.92
17                   Land of Toys Inc.     107639.94
18            Danish Wholesale Imports     107446.50
19             Tokyo Collectables, Ltd     105548.73
20                    Handji Gifts& Co     105420.57
21                Technics Stores Inc.     104545.22
22                  Baane Mini Imports     104224.79
23                 Suominen Souveniers     103896.74
24                 Mini Creations Ltd.     101872.52
25               Diecast Classics Inc.      98509.25
26                        Herkku Gifts      97562.47
27             Oulu Toy Supplies, Inc.      95706.15
28                Toys of Finland, Co.      95546.46
29                     Gift Depot Inc.      95424.63
..                                 ...           ...
68               UK Collectables, Ltd.      61167.18
69                        Alpha Cognac      60483.36
70           The Sharp Gifts Warehouse      59551.38
71                Auto Associés & Cie.      58876.41
72             Classic Gift Ideas, Inc      57939.34
73                     GiftsForHim.com      56662.38
74            Online Mini Collectables      55577.26
75         Australian Gift Network, Co      55190.16
76                     Mini Auto Werke      51059.99
77          Iberia Gift Imports, Corp.      50987.85
78                    Gift Ideas Corp.      49967.78
79             Clover Collections, Co.      49898.27
80                         CAF Imports      46751.14
81         King Kong Collectables, Co.      45480.79
82        Australian Collectables, Ltd      44920.76
83         West Coast Collectables Co.      43748.72
84            Volvo Model Replicas, Co      43680.65
85            Signal Collectibles Ltd.      42570.37
86          Men 'R' US Retailers, Ltd.      41506.19
87             Tekni Collectables Inc.      38281.51
88                   Gifts4AllAges.com      33533.47
89          Cambridge Collectables Co.      32198.69
90  Bavarian Collectables Imports, Co.      31310.09
91      Double Decker Gift Stores, Ltd      29586.15
92                     Microscale Inc.      29230.43
93                        Royale Belge      29217.18
94                  Frau da Collezione      25358.32
95                   Atelier graphique      22314.36
96             Auto-Moto Classics Inc.      21554.26
97                   Boards & Toys Co.       7918.60

[98 rows x 2 columns]

### 9. List the value of 'On Hold' orders.