In [ ]:
import pymysql
import pandas as pd

In [ ]:
host = '127.0.0.1' #untuk kerja lokal
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

### 1. Prepare a list of offices sorted by country, state, city

In [ ]:
run ("SELECT * FROM offices ORDER BY country, state, city")

In [ ]:
run("SELECT country, state, city FROM offices ORDER BY country, state,city")

### 2. How many employees are there in the company?

In [ ]:
run ("SELECT * FROM employees")

Sebelum menghitung jumlah baris (untuk menghitung jumlah 'employee') alangkah baiknya memastikan tidak ada nama pegawai yang terduplikasi dengan cara memastikan nomor pegawai ('employeeNumber' nomor unik,masing- masing pegawai, yang dimiliki setiap pegawai) tidak terduplikasi. Memastikan dengan 'firstname' atau 'lastname' saja dapat terjadi kesalahan karena ada kemungkinan nama depan atau nama belakang saja ada yang sama.

In [ ]:
run("SELECT DISTINCT employeeNumber FROM employees ")

In [ ]:
run("SELECT COUNT(DISTINCT employeeNumber) FROM employees") #dihitung jumlah baris dalam tabel

### 3. What is the total of payments received?

In [ ]:
run("""SELECT 
    customerNumber, checkNumber, paymentDate,
    CONCAT('$',
            FORMAT(amount, 2))
    FROM payments""")

In [ ]:
run("SELECT CONCAT ('$', FORMAT(SUM(amount), 2)) AS TotalPayment FROM payments")

### 4. List the product lines that contain 'Cars'

In [ ]:
run("SELECT productLine FROM productlines WHERE productLine LIKE '%Cars%'")

In [ ]:
run("SELECT productCode, productName, productLine FROM products WHERE productLine LIKE '%cars%'")

### 5. Report total payments for October 28, 2004

In [ ]:
run("""SELECT customerNumber, paymentDate,
    CONCAT('$',
    FORMAT(amount, 2)) FROM payments WHERE paymentDate = '2004-10-28'""")

total pembayaran hingga 28 Oktober 2004

In [ ]:
run("SELECT CONCAT('$', FORMAT(SUM(amount),2)) FROM payments WHERE paymentDate <= '2004-10-28'")

### 6. Report those payments greater than $100.000

In [ ]:
run("SELECT customerNumber, checkNumber, paymentDate, CONCAT('$', FORMAT(amount, 2)) FROM payments WHERE amount > '100000'")

### 7. List the products in each product line.

In [ ]:
run("SELECT productLine, productCode, productName FROM products ORDER BY productLine")

### 8. How many products in each product line?

In [ ]:
run("SELECT productLine, COUNT(productName) FROM products GROUP BY productLine ")

### 9. What is the minimum payment received?

In [ ]:
run("SELECT CONCAT('$', FORMAT(MIN(amount),2)) AS MinimumPayment FROM payments")

In [ ]:
run("SELECT customerNumber, checkNumber, paymentDate, CONCAT('$', FORMAT(amount,2)) FROM payments WHERE amount = (SELECT MIN(amount) FROM payments)")

### 10. List all payments greater than twice the average payment.

In [ ]:
run("""SELECT customerNumber, checkNumber, paymentDate, CONCAT('$', FORMAT(amount,2)) 
        FROM payments 
        WHERE amount > (SELECT 2 * AVG(amount) FROM payments)""")

In [ ]:
run("SELECT CONCAT('$', FORMAT(2 * AVG(amount), 2)) AS TwiceTheAverage FROM payments")

### 11. What is the average percentage markup of the MSRP on buyPrice?

In [ ]:
run("SELECT buyprice, MSRP, CONCAT(FORMAT((MSRP-buyprice)/buyprice*100, 2), '%') AS percentageMarkup FROM products")

In [ ]:
run("SELECT CONCAT(FORMAT(AVG((MSRP-buyprice)/buyprice*100), 2), '%') AS avrPercentageMarkup FROM products")

### 12. How many distinct products does ClassicModels sell?

Banyaknya jenis produk yang terjual, dapat dilihat dari 'tabel orderdetails'

In [ ]:
run("SELECT COUNT(productCode) AS orderNumber FROM orderdetails")

In [ ]:
run("SELECT COUNT(DISTINCT productCode) AS orderNumber FROM orderdetails")

### 13. Report the name and city of customers who don't have sales representatives?

In [ ]:
run("SELECT customerName, city, salesrepemployeenumber FROM customers WHERE salesrepemployeenumber IS NULL")

### 14. What are the names of executives with VP or Manager in their title? Use the CONCAT function to combine the employee's first name and last name into a single field for reporting.

In [ ]:
run("SELECT CONCAT(lastname,' ' , firstname) AS fullName, jobTitle FROM employees WHERE jobTitle LIKE '%VP%' OR jobtitle LIKE '%Manager%'")

### 15. Which orders have a value greater than $5,000?

In [ ]:
run("SELECT orderNumber, productCode, CONCAT('$',FORMAT(quantityOrdered * priceEach, 2)) AS totalPrice FROM orderdetails WHERE quantityOrdered * priceEach > 5000")